<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
{% if user.is_authenticated %}
<h3>Changing Password - <span id="prof_name">{{ request.user.first_name }} {{ request.user.last_name }}</span> </h3>

<p>ONCE PASSWORD CHANGED PLEASE LOGIN AGAIN</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Save changes</button>
</form><br>
<a href="{%url 'welcomeuser'%}"><button class="btn btn-primary" style="font-size:12px;height:22px;width:150px">Back to HomePage</button></a>
{% else %}
YOU ARE NOT LOGGED IN....LOGIN FIRST
<br>
<a href="{% url 'login' %}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Login</button></a>
{% endif %}
</body>
</html>